= render 'shared/error_messages', :object => form.object

%div.field
  = form.label :name
  %br
  = form.text_field :name
%div.field
  = form.label :email
  %br
  = form.text_field :email
%div.field
  = form.label :password
  %br
  = form.password_field :password
%div.field
  = form.label :password_confirmation
  %br
  = form.password_field :password_confirmation
